.gcloudignore
.git
.gitignore

.env
.env.*
venv/
.venv/
__pycache__/
*.pyc

database/backups/
legacy/
eval/
tests/
docs/
assets/

Dockerfile
requirements.txt

temp_ragas/
venv-eval/

db/
src/govprep.egg-info/
